*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial' ,'FontAwesome', sans-serif;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}
th {
  border: 2px solid black;
  padding: 3px 5px;
}
td {
  border: 1px solid black;
  padding: 3px 5px;
  text-align: center;
  cursor: pointer;
  transition: background .3s ease;
}
td:hover {
  background: red;
}

.header {
  background: rebeccapurple;
}
.header-wrapp {
    display: flex;
    height: 100px;
}
.logo {
  width: 25%;

}
.logo__link{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/ba_logo.png) no-repeat center center;
  cursor: pointer;
  transition: opacity .3s ease;
  &:hover {
    opacity: 0.8;
  }
}
.menu-list {
  width: 75%;
  display: flex;
  list-style: none; 
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  align-items: center;
}
.menu__items {
  padding: 10px 20px;
  
  
}
.menu__link {
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
    color: red;
  }
}
.main-content {
  flex: 1 0 auto;
  background: url(../img/816831.jpg) no-repeat center center;
  position: relative;
  
}
.main-content .container {
   padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 10px;
  background: red;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  display: flex;
  &:hover {
    color: #fff;
    background: rebeccapurple;
  } 
}
.multi-table {
  display: none;
  padding-top: 20px;
  cursor: pointer;
  position: relative;
} 
.open {
  display: block; 
}

.footer {
  flex: 0 0 auto;
  background: rebeccapurple;
}
.social-list {
  display: flex;
  list-style: none; 
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.social__items {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}
.social__link {
  display: flex;
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .3s ease;
  &:hover {
    color: red;
  }
}
.play-wrapper{
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
.play-list {
  align-self: flex-end;
  position: relative;
  right: -50%;
  width: 400px;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  transition: right 2s ease;
}
.play-list.right {
    right: 0;
  }
.play__items {
  padding: 10px 0;
  border-bottom: 1px solid #999;
  position: relative;
  h3 {
    margin: 0;
  }
  &:after {
    content: '\f08a';
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
    transition: color .3s ease;
  }
}
.play__items:hover::after {
  color: rebeccapurple;
}
.play-wrapp {
  display: flex;
  margin-bottom: 10px;
  h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
    padding:0 5px ;
  }
}
.play__duration {
  border-right: 1px solid #999;
}
